header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
header .navbar {
  padding: 20px;
  border-radius: 5px;
}
.logo {
  width: 80px;
  height: 60px;
}
.navbar .nav {
  display: flex;
  gap: 50px;
}
.navbar .navlinks {
  gap: 20px;
}
.collapse .link {
  gap: 15px;
}
.collapse .auth {
  gap: 15px;
}
.auth .nav-item {
  border: 1px solid black;
  border-radius: 6px;
}
.auth .nav-item .nav-link:hover {
  background-color: var(--primary-color);
  border-radius: 6px;
  color: #fff;
}

.nav-link.active {
  border-bottom: 2px solid var(--primary-color);
  font-weight: 800;
}
.cart,
.profile {
  display: flex !important;
  gap: 10px;
}
.nav-user {
  display: flex;
  gap: 20px;
}
.cart {
  position: relative;
}
.countItems {
  position: absolute;
  bottom: 13px;
  left: 34px;
  font-size: 14px;
  color: black;
  background-color: rgb(225, 71, 71);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 575.98px) {
  header.navbar {
    padding: 10px;
  }
  .navbar .nav-link {
    display: flex;
    gap: 10px;
    align-items: stretch;
  }
  .navbar .search {
    order: 2;
  }

  .auth .nav-item {
    border: none;
  }
  .navbar .nav {
    display: flex;
    gap: 10px;
  }
  .navbar-brand .logo {
    width: 60px;
    height: 40px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  header.navbar {
    padding: 10px;
  }
  .navbar-brand .logo {
    width: 60px;
    height: 40px;
  }
  .navbar .nav-link {
    display: flex;
    gap: 10px;
    align-items: stretch;
  }
  .navbar .search {
    order: 2;
  }

  .auth .nav-item {
    border: none;
  }
  .navbar .nav {
    display: flex;
    gap: 10px;
  }
  img {
    width: 20px;
    height: 20px;
  }
}

/*  `lg` applies to medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  header.navbar {
    padding: 10px;
  }
  .cart {
    display: flex;
  }
  img {
    width: 20px;
    height: 20px;
  }
  .navbar .nav-link {
    display: flex;
    gap: 10px;
    align-items: stretch;
  }
  .navbar .search {
    order: 2;
  }
  .auth .nav-item {
    border: none;
  }
  .navbar .nav {
    gap: 10px;
  }
}
